<div class="panel panel-default">
  <div class="panel-heading">Process creator</div>
  <div class="panel-body">
    <div class="form-group">
      <label for="resourcePickerProcess">Process name</label>
      <input type="text" ng-model="$ctrl.processName"
             id="resourcePickerProcess" class="form-control" placeholder="Process">
    </div>
    <p class="form-group">
      <label for="resourcePickerResource">Resource name</label>
      <input type="text" ng-model="$ctrl.resourceName"
             uib-typeahead="resource for resource in $ctrl.getResources($viewValue)"
             typeahead-loading="loadingLocations" typeahead-no-results="$ctrl.noResults"
             typeahead-select-on-blur="true" typeahead-min-length="1"
             id="resourcePickerResource" class="form-control" placeholder="Resource">
    <p class="help-block" ng-show="$ctrl.loadingResources">
      <i class="fa fa-refresh"></i>
    </p>
    <p class="help-block" ng-show="$ctrl.noResults">
      <i class="fa fa-times"></i> No Results Found
    </p>
    <button type="button" ng-click="$ctrl.create()"
            ng-disabled="!$ctrl.resourceName || !$ctrl.processName || $ctrl.noResults"
            class="btn btn-success btn-primary btn-block">
      <i class="fa fa-upload"></i> Create
    </button>
  </div>
</div>
