<div id="process-gallery">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-5">Name</th>
        <th class="col-md-3">Modification time</th>
        <th class="col-md-3">Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="process in $ctrl.processes.processList | orderBy:'$ctrl.fromInstant(modificationTime)' track by process.name">
        <td>{{$index + $ctrl.processes.page * $ctrl.processes.pageSize + 1}}</td>
        <td>{{process.name}}</td>
        <td>{{$ctrl.fromInstant(process.modificationTime) | date:'short'}}</td>
        <td>
          <button type="button" ng-click="$ctrl.selectProcess(process)"
                  class="btn btn-link btn-xs">
            <i class="fa fa-wrench"></i> Select
          </button>
          <button type="button" ng-click="$ctrl.removeProcess(process)"
                  class="btn btn-link btn-xs">
            <i class="fa fa-trash-o"></i> Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div ng-if="$ctrl.processes && !$ctrl.processes.processList.length" class="message-empty" >
    <h2>Nothing to show yet</h2>
    <p>Start a process using the panel to the left or select a resource on Images or Sounds page.</p>
  </div>

  <div ng-if="$ctrl.processes && $ctrl.processes.pageCount >= 2" class="pagination-box">
    <ul class="pagination">
      <li ng-repeat="i in $ctrl.pageRange() track by $index"
          ng-class="{active: $index == $ctrl.page}">
        <a href="" ng-click="$ctrl.page = $index">{{$index + 1}}</a>
      </li>
    </ul>
  </div>
</div>
